.main {
    padding: 0;
    margin-top: -30px;
    float: right;
    list-style-type: none;
}

.main li{
    cursor: pointer;
    display: inline;
    margin-left: 10px;
}

.main li a {
    color: #777;
    padding: 3px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
}

.main li.active a {
    cursor: not-allowed !important;
    border-color: rgba(175, 47, 47, 0.2);
}

.main li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

